[Unit]
Description=Media Center Daemon
After=network.target

[Service]
User=grant
Environment=FLASK_CONFIG=production
Environment=FLASK_APP=mediacenterd
ExecStart=flask run --host=0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target